<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjcycc.office.mapper.BranchMapper">
	
	<!-- table name -->
	<sql id="tableName">
		yjcycc_branch_info
	</sql>
	
	<!-- select field -->
	<sql id="selectField">
		id AS id,
		branch_name AS branchName,
		branch_short_name AS branchShortName
	</sql>
	
	<!-- add field -->
	<sql id="addField">
		id,
		branch_name,
		branch_short_name
	</sql>
	
	<!-- field values -->
	<sql id="fieldValue">
		#{id},
		#{branchName},
		#{branchShortName}
	</sql>
	
	<!-- getByEntity -->
	<select id="get" resultType="branch" parameterType="branch">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
		WHERE 1 = 1
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
		<if test="branchName != null and branchName != ''">
			AND branch_name = #{branchName}
		</if>
		limit 1
	</select>
	
	<!-- getByMap -->
	<select id="getByMap" resultType="branch" parameterType="map">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
		WHERE 1 = 1
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
		<if test="branchName != null and branchName != ''">
			AND branch_name = #{branchName}
		</if>
		limit 1
	</select>
	
	<!-- 分页, 使用了pagehelper插件 -->
	<select id="findPager" resultType="branch" parameterType="branch">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
        WHERE 1 = 1
        	<!-- AND id = #{id} -->
        ORDER BY branch_name asc
	</select>
	
	<!-- 分页, 使用了pagehelper插件 -->
	<select id="findPagerByMap" resultType="branch" parameterType="map">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
        WHERE 1 = 1
        	<!-- AND id = #{id} -->
        ORDER BY branch_name asc
	</select>
	
	<!-- insert -->
	<insert id="insert" parameterType="branch">
		INSERT INTO 
		<include refid="tableName"></include>
		(
		<include refid="addField"></include>
		) VALUES (
		<include refid="fieldValue"></include>
		)
	</insert>
	
	<!-- updateByEntity -->
	<update id="update" parameterType="branch">
		UPDATE <include refid="tableName"></include>
		SET
			branch_name = #{branchName}
		WHERE
			id = #{id}
	</update>
	
	<!-- updateByMap -->
	<update id="updateByMap" parameterType="map">
		UPDATE <include refid="tableName"></include>
		SET
			branch_name = #{branchName}
		WHERE
			id = #{id}
	</update>
	
	<!-- delete -->
	<delete id="delete" parameterType="branch">
		DELETE FROM <include refid="tableName"></include>
		WHERE
			id = #{id}
	</delete>
	
	<!-- batch delete -->
	<delete id="batchDelete" parameterType="String">
		DELETE FROM <include refid="tableName"></include>
		WHERE
			id in (${ids})
	</delete>
	
</mapper>