<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjcycc.office.mapper.DepartMapper">
	
	<!-- table name -->
	<sql id="tableName">
		yjcycc_depart_info
	</sql>
	
	<!-- select field -->
	<sql id="selectField">
		id AS id,
		depart_name AS departName,
		principal_user AS principalUser,
		connect_tel_no AS connectTelNo,
		connect_mobile_tel_no AS connectMobileTelNo,
		faxes,
		branch_id AS branchId
	</sql>
	
	<!-- select field -->
	<sql id="selectDTOField">
		d.id AS id,
		d.depart_name AS departName,
		d.principal_user AS principalUser,
		d.connect_tel_no AS connectTelNo,
		d.connect_mobile_tel_no AS connectMobileTelNo,
		d.faxes,
		d.branch_id AS branchId,
		b.branch_name AS branchName
	</sql>
	
	<!-- add field -->
	<sql id="addField">
		id,
		depart_name,
		principal_user,
		connect_tel_no,
		connect_mobile_tel_no,
		faxes,
		branch_id
	</sql>
	
	<!-- field values -->
	<sql id="fieldValue">
		#{id},
		#{departName},
		#{principalUser},
		#{connectTelNo},
		#{connectMobileTelNo},
		#{faxes},
		#{branchId}
	</sql>
	
	<!-- getByEntity -->
	<select id="get" resultType="depart" parameterType="depart">
		SELECT 
			<include refid="selectField"></include>
		FROM 
			<include refid="tableName"></include>
		WHERE 1 = 1
			<if test="id != null and id != ''">
			AND id = #{id}
			</if>
			<if test="departName != null and departName != ''">
			AND depart_name = #{departName}
			</if>
	</select>
	
	<!-- getByMap -->
	<select id="getByMap" resultType="depart" parameterType="map">
		SELECT 
			<include refid="selectField"></include>
		FROM 
			<include refid="tableName"></include>
		WHERE 1 = 1
			<if test="id != null and id != ''">
			AND id = #{id}
			</if>
			<if test="departName != null and departName != ''">
			AND depart_name = #{departName}
			</if>
	</select>
	
	<!-- 分页, 使用了pagehelper插件 -->
	<select id="findPager" resultType="departDTO" parameterType="depart">
		SELECT 
			<include refid="selectDTOField"></include>
		FROM 
			yjcycc_depart_info d
		LEFT JOIN yjcycc_branch_info b 
			ON b.id = d.branch_id
        WHERE 1 = 1
        	<!-- AND id = #{id} -->
		ORDER BY depart_name ASC
	</select>
	
	<!-- 分页, 使用了pagehelper插件 -->
	<select id="findPagerByMap" resultType="departDTO" parameterType="map">
		SELECT 
			<include refid="selectDTOField"></include>
		FROM 
			yjcycc_depart_info d
		LEFT JOIN yjcycc_branch_info b 
			ON b.id = d.branch_id
        WHERE 1 = 1
        	<!-- AND id = #{id} -->
		ORDER BY depart_name ASC
	</select>
	
	<!-- insert -->
	<insert id="insert" parameterType="depart">
		INSERT INTO 
		<include refid="tableName"></include>
		(
		<include refid="addField"></include>
		) VALUES (
		<include refid="fieldValue"></include>
		)
	</insert>
	
	<!-- updateByEntity -->
	<update id="update" parameterType="depart">
		UPDATE <include refid="tableName"></include>
		SET
			depart_name = #{departName}
		WHERE
			id = #{id}
	</update>
	
	<!-- updateByMap -->
	<update id="updateByMap" parameterType="map">
		UPDATE <include refid="tableName"></include>
		SET
			depart_name = #{departName}
		WHERE
			id = #{id}
	</update>
	
	<!-- delete -->
	<delete id="delete" parameterType="depart">
		DELETE FROM <include refid="tableName"></include>
		WHERE
			id = #{id}
	</delete>
	
	<!-- batch delete -->
	<delete id="batchDelete" parameterType="String">
		DELETE FROM <include refid="tableName"></include>
		WHERE
			id in (${ids})
	</delete>
	
</mapper>