<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yjcycc.office.mapper.UserMapper">
	
	<!-- table name -->
	<sql id="tableName">
		yjcycc_user_info
	</sql>
	
	<!-- select field -->
	<sql id="selectField">
		id,
		user_name AS userName,
		real_name AS realName,
		password,
		depart_id AS departId,
		gender,
		role_id AS roleId,
		user_state AS userState,
		pic_url AS picUrl
	</sql>
	
	<!-- add field -->
	<sql id="addField">
		id,
		user_name,
		real_name,
		password,
		depart_id,
		gender,
		role_id,
		user_state,
		pic_url
	</sql>
	
	<!-- field values -->
	<sql id="fieldValue">
		#{id},
		#{userName},
		#{realName},
		#{password},
		#{departId},
		#{gender},
		#{roleId},
		#{userState},
		#{picUrl}
	</sql>
	
	<!-- getByEntity -->
	<select id="get" resultType="user" parameterType="user">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
		WHERE 1 = 1
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
		<if test="userName != null and userName != ''">
			AND user_name = #{userName}
		</if>
		limit 1
	</select>
	
	<!-- getByMap -->
	<select id="getByMap" resultType="user" parameterType="map">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
		WHERE 1 = 1
		<if test="id != null and id != ''">
			AND id = #{id}
		</if>
		<if test="userName != null and userName != ''">
			AND user_name = #{userName}
		</if>
		limit 1
	</select>
	
	<!-- 分页, 使用了pagehelper插件 -->
	<select id="findPager" resultType="user" parameterType="user">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
        WHERE 1 = 1
        	<!-- AND id = #{id} -->
        ORDER BY user_name asc
	</select>
	
	<!-- 分页, 使用了pagehelper插件 -->
	<select id="findPagerByMap" resultType="user" parameterType="map">
		SELECT 
		<include refid="selectField"></include>
		FROM 
		<include refid="tableName"></include>
        WHERE 1 = 1
        	<!-- AND id = #{id} -->
        ORDER BY user_name asc
	</select>
	
	<!-- insert -->
	<insert id="insert" parameterType="user">
		INSERT INTO 
		<include refid="tableName"></include>
		(
		<include refid="addField"></include>
		) VALUES (
		<include refid="fieldValue"></include>
		)
	</insert>
	
	<!-- updateByEntity -->
	<update id="update" parameterType="user">
		UPDATE <include refid="tableName"></include>
		SET
			user_name = #{userName}
		WHERE
			id = #{id}
	</update>
	
	<!-- updateByMap -->
	<update id="updateByMap" parameterType="map">
		UPDATE <include refid="tableName"></include>
		SET
			user_name = #{userName}
		WHERE
			id = #{id}
	</update>
	
	<!-- delete -->
	<delete id="delete" parameterType="user">
		DELETE FROM <include refid="tableName"></include>
		WHERE
			id = #{id}
	</delete>
	
	<!-- batch delete -->
	<delete id="batchDelete" parameterType="String">
		DELETE FROM <include refid="tableName"></include>
		WHERE
			id in (${ids})
	</delete>
	
</mapper>